[connectivity]
nk=aurora_hls_0:1:aurora_hls_0
nk=aurora_hls_1:1:aurora_hls_1
nk=issue:1:issue_1
nk=dump:1:dump_1
nk=workload:1:workload_0

# SLR bindings
slr=aurora_hls_0:SLR2
slr=aurora_hls_1:SLR2

sp=issue_1.m_axi_gmem:HBM[0]
#sp=issue_0.m_axi_gmem:HBM[XXX]
sp=dump_1.data_output:HBM[1]
#sp=dump_0.data_output:HBM[XXX]

sp=workload_0.input_bv:HBM[10]
#sp=workload.key_in_0:HBM[XXX]
#sp=workload_0.out_bits_0:HBM[XXX]
sp=workload_0.perfctr_mmap:HBM[12]



# AXI connections
stream_connect=aurora_hls_0.rx_axis:workload_0.key_in_0
stream_connect=workload_0.out_bits_0:aurora_hls_0.tx_axis

stream_connect=aurora_hls_1.rx_axis:dump_1.data_input
stream_connect=issue_1.data_output:aurora_hls_1.tx_axis

stream_connect=workload_0.DUMMY_ack_out:issue_1.ack_stream
stream_connect=dump_1.ack_stream:workload_0.DUMMY_ack_in

# QSFP ports
connect=io_clk_qsfp0_refclkb_00:aurora_hls_0/gt_refclk_0
connect=aurora_hls_0/gt_port:io_gt_qsfp0_00
connect=aurora_hls_0/init_clk:ii_level0_wire/ulp_m_aclk_freerun_ref_00

connect=io_clk_qsfp1_refclkb_00:aurora_hls_1/gt_refclk_1
connect=aurora_hls_1/gt_port:io_gt_qsfp1_00
connect=aurora_hls_1/init_clk:ii_level0_wire/ulp_m_aclk_freerun_ref_00
